.content {
    width: 100%;
    background-color: #f5f5f5;
}

.worldmap {
    padding: 70px;
}

.map {
    width: 50%;
}

.stayathome h2 {
    text-align: right;
    padding-top: 50px;
}

.history {
    font-size: 50px;
}

.paragraph {
    text-align: right;
}