.content {
    justify-content: center;
}

.confirmed {
    padding: 25px;
    margin-top: -100px;
    height: 300px;
}

.recovered {
    padding: 25px;
    margin-top: -100px;
    height: 300px;
}

.death {
    padding: 25px;
    margin-top: -100px;
    height: 300px;
}