.content {
    justify-content: center;
    background-color: #f5f5f5;
}

.confirmedicon {
    width: 20px;
    background-color: #4CAF50;
    opacity: 80%;
    border-radius: 10px;
    padding: 8px;
}

.confirmedcart {
    padding: 25px;
    margin-top: -100px;
    height: 250px;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
}

.value {
    padding: 28px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.label {
    padding-left: 50px;
    font-size: 25px;
    opacity: 0.7;
    font-weight: bold;
    text-align: left;
}

.cardheader {
    border-bottom-style: solid;
    width: 100%;
}

.title {
    padding-right: 20px;
    margin-bottom: 1px;
}

.recovered {
    padding: 25px;
    margin-top: -100px;
    height: 250px;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
    margin-left: 10px;
}

.recoveredicon {
    width: 20px;
    background-color: #FFBF18;
    opacity: 70%;
    border-radius: 10px;
    padding: 8px;
}

.deathicon {
    width: 20px;
    background-color: #df0404;
    opacity: 70%;
    border-radius: 10px;
    padding: 8px;
}

.death {
    padding: 25px;
    margin-top: -100px;
    height: 250px;
    border-bottom-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
    margin-left: 10px;
}