.content {
    justify-content: center;
    background-color: #f5f5f5;
}

.confirmed {
    padding: 25px;
    margin-top: -100px;
    height: 270px;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
}

.cardtitle {
    border-bottom-style: solid;
    padding: 15px;
    width: 90%;
}

.recovered {
    padding: 25px;
    margin-top: -100px;
    height: 270px;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
    margin-left: 10px;
}

.death {
    padding: 25px;
    margin-top: -100px;
    height: 270px;
    border-bottom-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
    margin-left: 10px;
}