    .header {
        background-color: #4f48ec;
        height: 260px;
    }
    
    .title {
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        padding: 60px;
    }
    
    .title h3 {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
    }
    
    .countries {
        padding: 50px;
        text-align: right;
    }
    
    .country {
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        background-color: #FFBF18;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 2px 2px 30px -8px #000000;
        cursor: pointer;
    }
    
    @media (max-width:600px) {
        .header {
            height: 160px;
        }
        .title {
            padding: 0px;
        }
        .title h3 {
            font-size: 13px;
            padding-top: 27%;
            padding-left: 14%;
        }
        .countries {
            padding: 0px;
            text-align: center;
            padding-top: 10%;
        }
    }