.header {
    width: 100%;
    background-color: #4f48ec;
    height: 90px;
}

.totalcard {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    background-color: #FFBF18;
    border-radius: 15px;
    box-shadow: 2px 2px 30px -8px #000000;
}

.totalcard label {
    padding: 12px;
    padding-top: 19px;
    color: #000000;
    font-weight: bold;
}