.countries {
    background-color: #f5f5f5;
}

.header {
    width: 100%;
    background-color: #4f48ec;
    box-shadow: 2px 2px 30px -8px #000000;
}

.title {
    margin-left: 12%;
    width: 15%;
}

.title h2 {
    font-size: 35px;
    color: #f5f5f5;
    font-weight: bold;
    box-shadow: 2px 2px 30px -8px #000000;
    border-radius: 10px 0px 10px 0px;
    margin-top: 4%;
    padding: 12px;
}

.searchbar {
    margin-top: 2%;
    margin-left: 4%;
    width: 44%;
}

.search {
    width: 100%;
    border-radius: 10px;
    background-color: #4f48ec;
    border: 0px;
    font-weight: bold;
    padding-left: 10px;
}

.totalcard {
    margin-left: 4%;
    margin-top: 1%;
}

.totalcard label {
    border-radius: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 30px -8px #000000;
    padding: 12px;
    color: #f5f5f5;
    font-weight: bold;
}

.searchbar input::placeholder {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.cards {
    margin-top: 8%;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    border-left: solid 3px #FFBF18;
    border-right: solid 3px #FFBF18;
    box-shadow: 2px 2px 15px -8px #000000;
}

.cardsheader h4 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border-bottom: solid 3px #f5f5f5;
    padding: 15px;
}

.confirmed {
    display: flex;
    margin-top: 2%;
}

.confirmedcircle {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 4px;
}

.confirmedtitle {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}

.confirmedvalue {
    font-size: 16px;
    padding-left: 10px;
}

.recovered {
    display: flex;
    margin-top: 2%;
}

.recoveredcircle {
    width: 15px;
    height: 15px;
    background-color: #FFBF18;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 4px;
}

.recoveredtitle {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}

.recoveredvalue {
    font-size: 16px;
    padding-left: 10px;
}

.deaths {
    display: flex;
    margin-top: 2%;
}

.deathscircle {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 4px;
}

.deathstitle {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}

.deathsvalue {
    font-size: 16px;
    padding-left: 10px;
}

.date {
    display: flex;
    margin-top: 2%;
}

.timeicon {
    width: 15px;
    height: 15px;
    margin-left: 30px;
    margin-top: 4px;
}

.datetitle {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}

.datevalue {
    font-size: 16px;
    padding-left: 10px;
}

.loadingpage {
    width: 100%;
    height: 100%;
}

.loadingpage h2 {
    font-size: 18px;
    font-weight: bold;
}

.loadingheader {
    height: 90px;
    box-shadow: 2px 2px 15px -8px #000000;
}

.loadingicon {
    width: 8%;
    margin-top: 16%;
}

@media(max-width: 1200px) {
    .totalcard {
        display: none;
    }
    .cardsheader h4 {
        font-size: 15px;
    }
}

@media(max-width: 1000px) {
    .title {
        display: none;
    }
}

@media(max-width: 600px) {
    .title {
        display: none;
    }
    .searchbar {
        width: 87%;
        margin-left: 6%;
        margin-top: 7%;
    }
    .confirmedcircle {
        width: 5px;
        height: 5px;
    }
    .confirmedtitle {
        font-size: 12px;
        margin-top: -2px;
    }
    .confirmedvalue {
        font-size: 12px;
        margin-top: -2px;
        padding-left: 5px;
    }
    .recoveredcircle {
        width: 5px;
        height: 5px;
    }
    .recoveredtitle {
        font-size: 12px;
        margin-top: -2px;
    }
    .recoveredvalue {
        font-size: 12px;
        margin-top: -2px;
        padding-left: 5px;
    }
    .deathscircle {
        width: 5px;
        height: 5px;
    }
    .deathstitle {
        font-size: 12px;
        margin-top: -2px;
    }
    .deathsvalue {
        font-size: 12px;
        margin-top: -2px;
        padding-left: 5px;
    }
    .timeicon {
        width: 5px;
        height: 5px;
    }
    .datetitle {
        font-size: 12px;
        margin-top: -2px;
    }
    .datevalue {
        font-size: 11px;
        margin-top: -2px;
        padding-left: 5px;
    }
}