.content {
    width: 100%;
    background-color: #100e34;
}

.title {
    text-align: left;
    padding: 50px;
}

.title h3 {
    color: #ffff;
}

.total h3 {
    color: #fff;
}

.countries {
    color: #fff;
    text-align: center;
    font-size: large;
}