.footer {
    width: 95%;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 40px;
}

.title {
    width: 25%;
}

.githubLogo {
    width: 25%;
}

.linkedinLogo {
    width: 25%;
}

.mediumLogo {
    width: 25%;
}

.websiteLogo {
    width: 25%;
}

.title h3 {
    width: 120%;
    background-color: #4f48ec;
    padding: 20px;
    color: #fff;
    font-size: 15px;
    border-radius: 0px 10px 10px 0px;
}

.githubLogo h4 {
    font-size: 18px;
    color: 4f4f4f4;
    font-family: Avenir;
    padding: 8px;
}

.githubLogo h4:hover {
    color: #000000;
    font-weight: bold;
}

.github {
    width: 15%;
    border-left: #fff;
}

.linkedinLogo h4 {
    font-size: 18px;
    color: 4f4f4f4;
    font-family: Avenir;
    padding: 8px;
}

.linkedinLogo h4:hover {
    color: #000000;
    font-weight: bold;
}

.linkedin {
    width: 15%;
}

.websiteLogo h4 {
    font-size: 18px;
    color: 4f4f4f4;
    font-family: Avenir;
    padding: 8px;
}

.mediumLogo h4:hover {
    color: #000000;
    font-weight: bold;
}

.website {
    width: 15%;
}

.mediumLogo h4 {
    font-size: 18px;
    color: 4f4f4f4;
    font-family: Avenir;
    padding: 8px;
}

.websiteLogo h4:hover {
    color: #000000;
    font-weight: bold;
}

.medium {
    width: 15%;
}

a {
    text-decoration: none !important;
    color: #aaa;
}

a:hover {
    color: #000000;
    font-weight: bold;
}

@media (max-width: 600px) {
    .title {
        width: 88% !important;
    }
    .title h3 {
        border-radius: 0px;
        font-weight: bold;
    }
    .githubLogo .github {
        width: 25%;
    }
    .githubLogo h4 {
        font-size: 13px;
        font-family: Avenir;
        color: 4f4f4f4;
    }
    .linkedinLogo .linkedin {
        width: 25%;
    }
    .linkedinLogo h4 {
        font-size: 13px;
        font-family: Avenir;
        color: 4f4f4f4;
    }
    .mediumLogo .medium {
        width: 25%;
    }
    .mediumLogo h4 {
        font-size: 13px;
        font-family: Avenir;
        color: 4f4f4f4;
    }
    .websiteLogo .website {
        width: 25%;
    }
    .websiteLogo h4 {
        font-size: 13px;
        font-family: Avenir;
        color: 4f4f4f4;
    }
}