.content {
    justify-content: center;
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px;
}

.preventions {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #4f48ec;
}

.cards {
    margin-top: 4%;
    width: 100%;
}

.washhandscard {
    margin-left: 10%;
    width: 25%;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
}

.handicon {
    width: 25%;
}

.washhandscontent {
    padding: 20px;
}

.washhandscontent h5 {
    text-align: left;
}

.washhandscontent li {
    padding: 8px;
    text-align: left;
}

.usemaskcard {
    margin-left: 10%;
    width: 25%;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
}

.usemaskcontent {
    padding: 20px;
}

.usemaskcontent h5 {
    text-align: left;
}

.usemaskcontent li {
    padding: 8px;
    text-align: left;
}

.maskicon {
    width: 25%;
}

.disinfectcard {
    margin-left: 10%;
    width: 25%;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: #FFBF18;
}

.disinfecticon {
    width: 25%;
}

.disinfectcontent {
    padding: 20px;
}

.disinfectcontent li {
    text-align: left;
}

@media (max-width: 600px) {
    .preventions h2 {
        font-size: 25px;
        font-family: Avenir;
        font-weight: bold;
    }
    .washhandscard {
        margin-top: 10px;
        width: 100% !important;
    }
    .usemaskcard {
        margin-top: 10px;
        width: 100% !important;
    }
    .disinfectcard {
        margin-top: 10px;
        width: 100% !important;
    }
    .handicon {
        width: 20%;
    }
    .washhandscontent h4 {
        font-size: 18px;
    }
    .washhandscontent h5 {
        font-size: 18px;
        text-align: center;
    }
    .washhandscontent li {
        font-size: 15px;
    }
    .maskicon {
        width: 20%;
    }
    .usemaskcontent h4 {
        font-size: 18px;
    }
    .usemaskcontent h5 {
        font-size: 18px;
        text-align: center;
    }
    .usemaskcontent li {
        font-size: 15px;
    }
    .disinfecticon {
        width: 20%;
    }
    .disinfectcontent h4 {
        font-size: 18px;
    }
    .disinfectcontent li {
        font-size: 15px;
    }
}